{% extends "base.html" %}

{% block title %}Web Hosting{% endblock title %}

{% block content %}
<div class="page-section container how-section  p-0 ">
    {% for header in header %}
    <div class="row">
        <div class="col-md-4 how-img m-auto">
            <img src="/static/img/services/web_hosting.jpg" class=" img-fluid" alt=""/>
        </div>
        <div class="col-md-8 px-5 py-4">
            <h4 class="title-custom">{{header.page_heading}}</h4>
            <div class='font-poppins '>
                <p class="card-description text-justify">{{header.page_description | safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="container page-section text-center p-0">
        <div class="page-section  d-flex flex-wrap  justify-content-center align-content-center">
            
            {% for box in box %}
            <div class="my-services-items m-xl-3 m-3 border">
                <div class="card" style="width: 220px;">
                    <div class="card-body hover-shadow p-0"  style='min-height:430px;'>
                        <div class="bg-logo-color m-0 p-2 ">
                            <h5 class=" text-center fs-25 text-white ">{{box.package}}</h5>
                            <h5 class=" text-center text-white" style="font-size: 13px;">{{box.server}}</h5>
                        </div>
                        <div class='font-poppins card-description no-list px-2'>
                            <p class="card-description text-left px-3" >{{box.package_description | safe}}</p>
                        </div>
                        <a class="btn bg-logo-color job-btn fg-white my-2  " href="{% url "contact" %}">Send Query</a>
                    </div>
                </div>  
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}