{% extends "base.html" %}
{% load static %}

{% block title %}
Portfolio
{% endblock title %}


{% block content %}

  <main>
    <div class="container-fluid text-center my-2 py-4">
      <h1 class="h1 title-section">
        Portfolio
      </h1>
    </div>
    <div class="page-section py-2">
      <div class="container">
        <div class="filterable-btn">
          <button class="btn active" data-filter="*">All</button>
          <button class="btn" data-filter=".web">Website</button>
          <button class="btn" data-filter=".mobile">Mobile</button>
          <button class="btn" data-filter=".desktop">Desktop</button>
        </div>

        
        <div class="grid mt-3 d-flex flex-wrap">
          {% for data in data %}
          <div class="grid-item shadow-lg {{data.device}}" style='min-width:250px;'>
            <div class="portfolio">
              <a href= "{{data.project_image.url}} " data-fancybox="portfolio">
                <img src="{{data.project_image.url}}" alt="">
              </a>
              <div class="container w-75 text-center m-auto">
                <a href="https://{{data.project_link}}" class="text-uppercase text-primary">{{data.project_name}} </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        </div> <!-- .grid -->

        <!-- <div class="mt-5 text-center">
          <button class="btn btn-primary">Load More</button>
        </div> -->

        
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>
  {% endblock content %}