{% extends "base.html" %}
{% block title %}Gallery{% endblock title %}

{% block content %}
<style>
  .image-gallery {
      column-count: 3; /* Number of columns in the gallery */
  }

  .image-item {
      margin-bottom: 15px;
      break-inside: avoid; /* Prevent images from breaking across columns */
  }

  .image {
      width: 100%; /* Ensure images take the full width of the column */
  }
</style>
{% comment %} 

<div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../static/img/gallery-bg.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <h1 class="fg-white text-center">Gallery</h1>
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            </ol> -->
            <p class="text-white bg-transparent text-center">Our Most Memoriable Days Pisoft Informatics</p>
          </nav>
        </div>
      </div>
    </div>
  </div> <!-- .page-banner --> {% endcomment %}
  

<div class="container ">
  <h1 class='text-center  m-auto py-4 title-custom'>GALLERY  </h1>
  <div class="image-gallery m-3 d-block">
      <!-- Replace these image items with your dynamic content -->

      {% for image in images %}
      <div class="image-item ">
          <img class="image shadow-lg p-3 mb-5 bg-white rounded" src="{{ image.image.url }}" alt="{{ image.title }}">
      </div>
      {% endfor %}


  </div>
</div>

{% endblock content %}