{% extends "base.html" %}
{% load static %}
{% block title %}
Rough Work
{% endblock title %}

{% comment %} <div class="page-section d-flex  flex-column pb-2 p-0">
    <div class="hero d-flex flex-column justify-content-center  px-5 py-2">
      <h3 class="title-custom text-center "><span><i class="fa fa-cog"></i></span> Technologies</h3>
      <p class="text-muted text-center w-75 m-auto">We are a rapidly growing Chandigarh based IT company, providing
        solutions into Software Development, Hardware Networking, Design & Implementation. We work on following
        technologies:</p>
    </div>
    <section id="feature ">
      <div class="container py-4">

        <div class="row d-flex">
          <div class="features d-flex flex-wrap">
            <div class="col-md-3 col-sm-4  fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="icon-3dprint "></i>
                <h2>Logo Designing</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="icon-line-graph"></i>
                <h2>Graphics</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="icon-php-alt "></i>
                <h2>PHP</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="icon-mysql-alt"></i>
                <h2>MySql</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="icon-java-bold"></i>
                <h2>Java</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="icon-javascript"></i>
                <h2>Javascript</h2>

              </div>
            </div><!--/.col-md-4-->


            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa fa-html5"></i>
                <h2>HTML5</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa fa-css3"></i>
                <h2>CSS3</h2>

              </div>
            </div><!--/.col-md-4-->
            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa fa-product-hunt"></i>
                <h2>Python</h2>

              </div>
            </div><!--/.col-md-4-->
            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa fa-line-chart"></i>
                <h2>Digital Marketing</h2>

              </div>
            </div><!--/.col-md-4-->

            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa fa-globe"></i>
                <h2>WEB 2.0</h2>

              </div>
            </div><!--/.col-md-4-->
            <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa fa-cog"></i>
                <h2>AI/ML</h2>

              </div>
            </div><!--/.col-md-4-->


          </div><!--/.services-->
        </div><!--/.row-->
      </div><!--/.container-->
    </section><!--/#feature-->


  </div>
</div> {% endcomment %}



{% block content %}

{% endblock content %}