@media only screen and (max-width: 600px) {
 
    #carouselExampleInterval{
        width: 90% !important;
        height: 100% !important;
    }
    /* .navbar{
       
    } */
    .hero-carousel h1 {
        font-size: 1.2rem !important;
    }
    .owl-dots{
        visibility: hidden;
    }
    .image-gallery{
        column-count: 1 !important;
    }
    p{
        padding: 12px !important;
    }
    .page-section{
        padding: 1rem ;
    }
    .page-banner.home-banner{
        max-height: 250px  !important;
    }
    .sosmed-button{
        text-align: center !important;
    }
    .footer-text-center{
        text-align: center !important;
    }
    .my-services-items > .card > .card-body{
        height: 500px !important;
    }
    .hero-carousel-item > .img-caption{
        margin : 4.3rem auto !important;
        /* height: 330px !important; */
    }
    .top-bar-items > .mai-call{
    padding-left: .2rem!important;
    }
    .slider-image-size{
        height: 180px !important;
        width: 280px !important;
        margin: auto;
    }
    .trainee-card{
      
        max-height: 280px !important ;
        height: 280px !important;
        overflow: hidden;
    }
    .portfolio-card{
        width: 330px !important;
    }
  }

@media only screen and (min-width: 600px ) and (max-width: 800px){
    .image-gallery{
        column-count: 2 !important
    }
}



/* Navbar links */
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #393185 !important;
}
.nav-link:hover{
    color: #393185 !important;
    /* background-color: #421d75; */
    text-decoration: overline 2px ;
}

.top-bar-items > .mai-call{
    padding-left: 20px;

}
.page-section{
    /* padding: 20px 50px 20px 50px; */
    padding: 1rem;
}

#services {
    background: #474747 url(../img/services/bg_services.png) !important;
    background-size: cover !important;
}

.service-img{
    height: 90px;
    width: 90px;
    padding-left: 1.2rem;
    padding-top: 1.3rem;
    margin: auto;
}


.hover-shadow{
    transition: all 0.2s ease-in;
    /* border-radius: 23px !important;  */
    color: rgb(0, 0, 0);    
} 

.hover-shadow:hover{
    /* box-shadow: rgb(139, 138, 138) 10px 10px 10px; */
    box-shadow: #696974fb  10px 10px 10px ;

}

/* .card-body{
    border: .1px solid grey;
} */

.card-description{
    font-size: 16px !important;
    color: black !important;

}
.card-description>ul{
    padding-left: 16px !important;
}

.card-description>p{
    font-size: 14px !important;
    text-align: left;
    padding: 10px 0px 0px 0px !important;
    margin: 0px !important;
    color: rgb(20, 20, 20);
}
.card-description > ul > li{
    font-size: 14px !important;
    text-align: left;
}

.card-text{
    font-size: 16px !important;
}
p{
    font-size: 16px !important;
    color: #000000 !important;
}


.card{
    border: none !important;
}

.card:hover{
    border: none;
}

/* .card-text{
    font-family: 'Open Sans', sans-serif;
} */

/* .card-description */

/* .my-services-items > .card > .card-body{
height:500px ;
} */

.job-btn{
    position:absolute;
    bottom:0;
    left: 60px    ;
    /* border: none; */
}
.job-btn:hover{
    background-color: #262264 !important;
    border: none;
}

.fs-12 .fs-12>p{
    font-size: 12px;
}

.my-services{
    padding: 0px;
    font-size: 12.4px;
   
}

.input-item{
    min-width: 350px;
}


.how-section1{
    padding: 0px;
    margin: 0px;
}


.how-section-text{
    font-size: 1.1rem;
}

.how-img 
{
    text-align: center;
}

.how-img img{
    width: 80%;
}

.logo-cv{
    color: rgb(47, 47, 109);
}
.logo-cy{
    color: rgb(196, 110, 53);
}


.custom-image-shadow{
    box-shadow: dodgerblue 12px 12px 12px;
}


.custom-bg{
    background-color: rgb(217, 221, 226) !important;
}

.bg-custom-lb{
    background-color: #e0eaf3 !important;
}


/* 
navbar
*/

 .nav-item{
    padding: 0 !important; 
}
.nav-link{
    padding: .7rem !important;
}


/* 
carousel slider 
*/

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: rgb(202, 210, 219);
    background-color: rgb(143, 174, 221);
    background-size: 50%, 50%;
    border-radius: 50%;
}

.carousel-control-prev, .carousel-control-next{
    border: none  !important;
    background-color: transparent !important;
}

.button.owl-prev{
    background-color: #5c5794 !important;
}

.hero-carousel h1 {
    font-size: 2.2rem ;
}





.c-h-b{
    background-color: #fefefe !important;
    background-image: linear-gradient(315deg, #fefefe 0%, #d4dceedc  74%) !important;
    
    box-shadow: #d0d2d6 1px 5px 16px 8px !important;
}

.gd{
    /* background: linear-gradient(135deg, #add8e6, #87ceeb); */
    background: linear-gradient(135deg, #f0f0f0, rgb(216, 234, 248));

}

.cbg-ly{
background-color: #f1dfdf7d !important;
}

.custom-bg-color{
    background-color: #fefefe !important;
    background-image: linear-gradient(315deg, #fefefe 0%, #d4dceedc  74%) !important;
    
    box-shadow: #d4dcee9e  1px 5px 16px 8px !important;
}



/* 
Footer
*/
.page-footer{
    font-size: 0.8rem;
}
.footer-menu > li{
    margin: 0px !important;
    line-height: 1.5rem;
}



.footer-bg-color{
    /* background-color: #000000 !important; */
    background-image: linear-gradient(315deg, #000000ec 50%, #1b1c1fdc  74%) 
    /* background-color: rgb(206, 211, 243) !important; */
}

.footer-copyright{
    /* background-image: linear-gradient(300deg, #646b8a, #7178a0); */
    background-image: linear-gradient(300deg, #1c1d21, #202123);
}
.fc{
    color: white !important;
}
.sosmed-button{
    text-align: right ;
}



/* 
Placed Trainee
*/

.trainee-card{
    border: 1px solid rgb(202, 202, 202) !important;
    /* min-height: 250px !important; */
    max-height: 250px ;
    height: 250px;
    overflow: hidden;
}

.card-title{
        font-size: 15px;  
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #4e4e4e;
}



/* Image Hover  */
.custom-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: rgba(55, 87, 181, 0.85) ; */
    background-color:   #393185a1;
  }
  
  .custom-container:hover:hover .custom-overlay {
    opacity: 1;
    border-radius: 23px !important;
    
  }
  
  .custom-text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
  .project-button:hover{
    background-color: rgba(255, 255, 255, 0.604) !important;
    color: black !important;
    box-shadow: 6px 6px 16px;
  }
 
  .lead{
    font-size: 16px !important;
  }
  .fs-14-li>ul>li{
    font-size: 14px !important;
    /* text-align: justify; */
}
.fs-14>ul>li{
    font-size: 14px;
    /* text-align: justify; */
}
.fs-14>p{
    font-size: 14px;
    text-align: justify;
}
/* .fs-16>ul>li{
    font-size: 16px;
} */
.fs-16>p{
      text-align: justify;
    font-size: 16px;
  }

  /* 
  footer
  */
.page-footer{
    background-color: #272a39cc !important;
}


.nav-items:hover{
    cursor: pointer !important;
}



/* 
Free Demo
*/
.free-demo-bg{
    /* background-color: rgba(143, 143, 255, 0.781) !important   ; */
    background-color: #9696ffc7 !important;
    /* 
    9696ffc7
    */
}

.free-demo-sbg{
    background-color: rgba(242, 242, 255, 0.664) !important ;
}

.input-container{
    padding: 5px;
    /* border-radius: 23px; */
}   


.rounded-custom{
    border-radius: 10px !important;
}



.title-custom{
     /* max-width: 900px !important; */
     font-size: 30px;
     /* font-weight: 600; */
     color: #485464 ;
}

/* Technology on Home Page */

#feature {
    background: #f2f2f2!important;
    padding-bottom: 0px;
  }
  
  .features{
    padding: 0;
  }
  
  .feature-wrap {
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  
  .feature-wrap h2{
    margin-top: 12px;
    font-size:15px;
  }
  
  .feature-wrap .pull-left {
    margin-right: 25px;
  }
  
  .feature-wrap i{
    font-size: 25px;
    height: 50px;
    width: 52px;
    margin: 3px;
    border-radius: 100%;
    line-height: 45px;
    text-align:center;
    /* background: rgb(50, 118, 243); */
    background: #393185;
    color: #ffffff;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    float: left;
    margin-right: 25px;
  }
  .feature-wrap1 i{
      font-size: 45px;
      height: 100px;
      width: 100px;
      margin: 20px 0px 0px 10px;
      border-radius: 100%;
      line-height: 90px;
      text-align: center;
      background: rgb(155, 197, 245);
      color: #fff;
      border: 3px solid #ffffff;
      box-shadow: inset 0 0 0 5px #f2f2f2;
      -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      
      margin-right: 5px;
  }
  .feature-wrap i:hover {
    background: #393185c9;
    color: #fff;
    box-shadow: inset 0 0 0 5px #393185;
    -webkit-box-shadow: inset 0 0 0 5px #4d43a3d1;
  -moz-box-shadow: inset 0 0 0 5px #7061fb;
    border: 3px solid #a79dff;
  }
  .feature-wrap1 i:hover {
    background: #393185c9;
    color: #fff;
    box-shadow: inset 0 0 0 5px #393185;
    -webkit-box-shadow: inset 0 0 0 5px #4d43a3d1;
  -moz-box-shadow: inset 0 0 0 5px #7061fb;  
  border: 3px solid #a79dff;
  }
  
  .about-img {
transform: none !important;  
-webkit-transform: none;
box-shadow: none;
border-radius: 12px; 
/* border: 2px solid salmon    ; */

}



.navbar-light .navbar-nav .nav-link .active{
    color: #000000;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #393185 !important;
}
.nav-link.active{
    text-decoration: 2px overline ;
}
.bg-logo-color{
    background-color: #393185 !important;
}
.fg-logo-color{
    color: #393185 !important;
}   




.btn-bottom{
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 4rem;
}


.no-list>ul>li{
    list-style: none;
    padding: 5px 0px;
    text-align: left;
    line-height: 2s0px;
}

.line-height>ul>li{
line-height: 20px;
}

.owl-carousel .owl-nav button.owl-next  {
    /* background-color: #5c5794; */
    border: 2px solid #393185;
    background-color: transparent;
}
.owl-carousel .owl-nav button.owl-prev  {
    /* background-color: #5c5794; */
    border: 2px solid #393185      ;
    background-color: transparent;
}

.nav-pills .nav-link.active,  .nav-pills .show > .nav-link {
    background-color: #5c5794 !important;
}


.slide{
    margin: auto;
}

.btn-primary{
    background-color: #393185  !important;
}


/* 
Home page main slider 
*/
.home-banner{
    height: 350px !important;
}
.hero-carousel-item > .img-caption{
    margin : 6.3rem auto;
    /* height: 330px !important; */
}
/* 
Collage carsoul arrows 
*/

.control-prev-btn, .control-next-btn{
    background-color: transparent !important;
    color: white !important;
    font-size: 25px;
    box-shadow: none !important;
    width: 17px !important;
    margin: 0px !important;
}
.slider{
    padding: 0px !important;
}
.my-services-items{
    margin: 5px !important;
}

.services-card{
    width: 355px !important;
    height: 290px !important;
    margin: 2px;
}

.career-card{
    height: 500px;
}

/* 
home page contact us
*/

.portfolio-card{
    width: 360px !important;
}

/* .portfolio-card{
    width: 400px;
} */