{% extends "base.html" %}

{% block title %}
HOPE Enquiry
{% endblock title %}

{% block content %}
  <main>
    <div class="container mt-5 mb-5">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h2 class='title-section text-center'>Contact Us</h2>
              {% if messages %}
                  <ul class="messages" style='list-style:none;'>
                  {% for message in messages %}
                      <li  {% if message.tags %} role='alert' class="alert alert-success {{ message.tags }} " {% endif %}> {{ message }} </li>
                  {% endfor %}
                  </ul>
              {% endif %}
              <form method='post'>
                {% csrf_token %} 
                  <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" required class="form-control" id="name" name = 'name' placeholder="Enter your name">
                  </div>
                  <div class="form-group">
                      <label for="phone">Phone:</label>
                      <input type="tel" required class="form-control" id="phone" maxlength="10" name = 'phone' placeholder="Enter your phone number">
                  </div>
                  <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" required class="form-control" id="email"  name = 'email' placeholder="Enter your email">
                  </div>
                 
                  <div class="form-group ">
                    <label for="education">Education</label>
                    <select id="education" required name = 'education' class="form-control">
                      <option value = 'bca'>BCA</option>
                      <option value="b.tech" >B.tech</option>
                      <option value="diploma" >Diploma</option>
                      <option value="other" >Other</option>
                    </select>
                  </div>
                  
                  <div class="form-group ">
                    <label for="intrest">Intrested In</label>
                    <select id="intrest" required name = 'intrest' class="form-control">
                      <option value=".php">PhP</option>
                      <option value="web designing">Web Designing</option>
                      <option value=".net">.net</option>
                      <option value="android">Android</option>
                      <option value="networking">Networking</option>
                      <option value="cloud computing">Cloud Computing</option>
                      <option value="Ethical Hacking">Ethical Hacking</option>
                      <option value="C">C</option>
                      <option value="c++">C++</option>
                      <option value="Security Plus">Security Plus</option>
                      <option value="java">Java</option>
                      <option value="mcitp">mcitp</option>
                      <option value="ccna">CCNA</option>
                      <option value="ccnp">CCNP</option>
                      <option value="mcse">MCSE</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                      <label for="college">College:</label>
                      <input type="text" required class="form-control" id="college" name = 'college' placeholder="Enter your college name">
                  </div>

                  <button type="submit" class="btn bg-logo-color text-white">Submit</button>
              </form>
          </div>
      </div>
  </div>
  </main>

  {% endblock content %}
 

