{% extends "base.html" %}

{% block title %}
Registration
{% endblock title %}

{% block content %}
  <main>
    <div class="page-section custom-bg">
      <div class="container">
        <div class="text-center">
          <h2 class="title-section mb-3">Registration Form</h2>
          <p>Fill out this form with your correct details we will contact you soon if we find a perfect match.</p>
         
        </div>
        {% if messages %}
        <ul class="messages" style='list-style:none;'>
          {% for message in messages %}
          <li {% if message.tags %} role='alert' class="alert alert-success text-center {{ message.tags }} " {% endif %}>
            {{ message }}
           </li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="page-section">
          <form method="post">
            {% csrf_token %}
            <div class="form-row">
            
              <div class="form-group col-md-3">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" name = 'name' id="name" placeholder="Full Name" required>
              </div>
              <div class="form-group col-md-3">
                <label for="fathername">Father's Name</label>
                <input type="text" class="form-control" name = 'fathername' id="fathername" placeholder="Father's Name" required>
              </div>
            
              <div class="form-group col-md-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name='email' id="email" placeholder="Email" required>
              </div>
            
              <div class="form-group col-md-3">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" maxlength="10" name = 'phone' id="phone" placeholder="Phone Number" required>
              </div>

              
            </div>
            
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" name= 'address' id="address" placeholder="1234 Main St" required>
            </div>
            <div class="form-group">
              <label for="caddress">Correspond Address</label>
              <input type="text" class="form-control" name= 'caddress' id="caddress" >
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="pursuingdetails">Pursuing Details</label>
                <input type="text" class="form-control"  name = 'pursuingdetails' id="pursuingdetails" required>
              </div>
            
            
              <div class="form-group col-md-4">
                <label for="trainingprogram">Training Program</label>
                <select id="trainingprogram" name = 'trainingprogram' class="form-control">
                  <option selected>Select Training Program</option>
                  <option value = '6 Weeks'>6 Weeks Industrial Training</option>
                  <option value="6 Months" >6 Months Industrial Training</option>
                </select>
              </div>
            
              <div class="form-group col-md-4">
                <label for="module">Module</label>
                <select id="module" name = 'module' class="form-control">
                  <option  selected>Select Module</option>
                  <option value=".php">PhP</option>
                  <option value="web designing">Web Designing</option>
                  <option value=".net">.net</option>
                  <option value="android">Android</option>
                  <option value="networking">Networking</option>
                  <option value="cloud computing">Cloud Computing</option>
                  <option value="Ethical Hacking">Ethical Hacking</option>
                  <option value="C">C</option>
                  <option value="c++">C++</option>
                  <option value="Security Plus">Security Plus</option>
                  <option value="java">Java</option>
                  <option value="mcitp">mcitp</option>
                  <option value="ccna">CCNA</option>
                  <option value="ccnp">CCNP</option>
                  <option value="mcse">MCSE</option>
                </select>
              </div>
              
             <div class="form-group col-md-4">
                <label for="qualification">Registration Date</label>
                <input type='text' class="form-control disabled" name='date' disabled value='{% now "d-m-y" %}'> </input>
             </div>
              <div class="form-group col-md-3 px-4">
                <label for="payment">Payment Mode</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="payment" id="cash" value="cash" required>
                  <label class="form-check-label" for="cash">Cash</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="payment" id="neft" value="neft">
                  <label class="form-check-label" for="neft">NEFT</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="payment" id="dd" value="dd">
                  <label class="form-check-label" for="dd">DD</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="payment" id="cheque" value="cheque">
                  <label class="form-check-label" for="cheque">Cheque</label>
                </div>
              </div> 
            </div>
            
            
            <div class="form-group">
              <div class="form-check">
                  <h4 class="text-muted">Terms And Conditions</h4>
                  <ul>
                    <li>
                        Amount once paid is, Non refundable / Non Transferable / Non Adjustable
                    </li>
                    <li>
                        All disputes subjects to Mohali jurisdiction only.
                    </li>
                  </ul>
                  <p></p>
                  <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                  I Agree To all the Terms and Conditions.
                </label>
              </div>
            </div>
            
            <button type="submit" class="btn bg-logo-color text-white">Submit</button>
          </form>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

  </main>

  {% endblock content %}
 

