{% extends "base.html" %}

{% block title %}Desktop Application{% endblock title %}


{% block content %}
<div class="container pb-5 mx-auto  my-4"> 
    <div class="row">
    {% for display in data %}
        <div class="col-md-4 how-img m-auto p-0">
            <img src="/static/img/services/software_development/desktop.jpg" class=" img-fluid" alt=""/>
        </div>
        <div class="col-md-8 px-0 px-5 py-2 ">
            <h4 class="title-custom">{{display.heading}}</h4>
            <div class=' description text-justify'>
                <p class=" page-description">{{display.description | safe}}</p>
            </div> 
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}