{% extends "base.html" %}

{% block title %}6 Weeks Internship{% endblock title %}

{% block content %}
<style>
    p{
       color: black ;
       text-align: justify;
    }
</style>
<div class="page-section container how-section p-3">
    {% for display in six_weeks_intern_data %}
    <div class="row">
        <div class="col-md-4 how-img ">
            <img src="/static/img/services/6weeks.png" class="rounded-circle img-fluid py-2" alt=""/>
            {% comment %} <img src="/static/img/services/hope2.png" class=" img-fluid py-5" alt=""/> {% endcomment %}
        </div>
        <div class="col-md-8 px-5 py-2">
            <h4 class="title-custom">{{display.heading}}</h4>
            <div class=''>
                <p class="card-description m-0 p-0">{{display.description | safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}



{% comment %} {% extends "base.html" %}

{% block title %}6 Weeks Internship{% endblock title %}

{% block content %}
<div class="page-section how-section p-3">
    {% for display in six_weeks_intern_data %}
    <div class="row">
        <div class="col-md-4 how-img ">
            <img src="/static/img/services/6weeks.png" class="rounded-circle img-fluid py-5" alt=""/>
        </div>
        <div class="col-md-7 px-5 py-4 ">
            <h4 class="title-custom p-0 m-0">{{display.heading}}</h4>
            <div class=' fs-14'>
                <p class="text-muted fs-14">{{display.description | safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %} {% endcomment %}