{% extends "base.html" %}

{% block title %}HOPE Program{% endblock title %}

{% block content %}
<div class="page-section how-section p-1">
    {% for display in hope_data %}
    <div class="row">
        <div class="col-md-4 how-img">
            <img src="/static/img/services/hope1.png" class=" img-fluid" alt=""/>
        </div>
        <div class="col-md-7 px-5 py-4 how-section-text">
            <h4>{{display.heading}}</h4>
            <div class='font-poppins'>
                <p class="text-muted">{{display.description | safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}