{% extends "base.html" %}

{% block title %}HOPE Program{% endblock title %}

{% block content %}
<style>
    {% comment %} li{
        font-size: 14px !important;
    } {% endcomment %}
    p{
       color: black ;
       text-align: justify;
    }

</style>
<div class="page-section container how-section p-0">
    {% for display in hope_data %}
    <div class="row">
        <div class="col-md-8 px-5 py-4">
            <h4 class="title-custom">{{display.heading}}</h4>
            <div class=''>
                <p class="card-description p-0 m-0">{{display.description | safe}}</p>
            </div>
        </div>
        <div class="col-md-4 how-img py-4 ">
            <img src="/static/img/services/hope1.png" class=" img-fluid py-0" alt=""/>
            {% comment %} <img src="/static/img/services/hope2.png" class=" img-fluid py-0" alt=""/> {% endcomment %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}