{% extends "base.html" %}

{% block title %}Tech Discovery{% endblock title %}
{% block content %}

<style>
    p {
        text-align: justify;
    }
</style>
<div class="page-section container how-section p-3">
    {% for display in tech_data %}
    <div class="row">
        <div class="col-md-4 how-img ">
            <img src="/static/img/services/tech-discovery.png" class="rounded-circle img-fluid py-2" alt="" />
            {% comment %} <img src="/static/img/services/hope2.png" class=" img-fluid py-5" alt="" /> {% endcomment %}
        </div>
        <div class="col-md-8 px-5 py-2">
            <h4 class="title-custom">{{display.heading}}</h4>
            <div class=''>
                <p class="card-description p-0 m-0">{{display.description | safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}