{% extends "base.html" %}

{% block title %}
Apply for Job
{% endblock title %}

{% block content %}

<div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../static/img/bg_image_3.jpg);">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-8">
        <h1 class="fg-white text-center">Job Application</h1>
        <nav aria-label="breadcrumb">
          <!-- <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          </ol> -->
          <p class="text-white bg-transparent text-center">Fill up this form.</p>
        </nav>
      </div>
    </div>
  </div>
</div> <!-- .page-banner -->

  <main>
    <div class="page-section">
      <div class="container">
        {% comment %} <div class="text-center">
          <h2 class="title-section mb-3">Job Application</h2>
          <p>Fill out this form with your correct details we will contact you soon if we find a perfect match.</p>
         
        </div> {% endcomment %}
        <div class="page-section p-3">
          <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-row">
            
              <div class="form-group col-md-3">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" name = 'name' id="name" placeholder="Full Name" required>
              </div>
            
              <div class="form-group col-md-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name='email' id="email" placeholder="Email" required>
              </div>
            
              <div class="form-group col-md-3">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" maxlength="10" name = 'phone' id="phone" placeholder="Phone Number" required>
              </div>

              <div class="form-group col-md-3 px-4">
                <label for="name">Gender</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                  <label class="form-check-label" for="female">Female</label>
                </div>
              </div>

              
            </div>
            
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" name= 'address' id="address" placeholder="1234 Main St" required>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="city">City</label>
                <input type="text" class="form-control" name = 'city' id="city" required>
              </div>
            
              <div class="form-group col-md-4">
                <label for="position">Position</label>
                <select id="position" name = 'position' class="form-control">
                  <option value="operator" selected>Operator</option>
                  <option value = 'bank office'>Bank office</option>
                  <option value="software developer" >Software developer</option>
                  <option value="business development" >Business development</option>
                </select>
              </div>
            
              <div class="form-group col-md-4">
                <label for="experience">Experience</label>
                <select id="experience" name = 'experience' class="form-control">
                  <option value="fresher" selected>Fresher</option>
                  <option value = 'less than 1 year'>Less Than 1 Year</option>
                  <option value="1-2 Years" >1-2 Year</option>
                  <option value="2+ Years" >2+ Years</option>
                </select>
              </div>
              
              <div class="form-group col-md-4">
                <label for="qualification">Qualification</label>
                <select id="qualification" name = 'qualification' class="form-control">
                  <option value="bca" selected>BCA</option>
                  <option value="mca" >MCA</option>
                  <option value="bsc" >B.Sc</option>
                  <option value = 'btech'>B.Tech</option>
                  <option value="mtech" >M.Tech</option>
                </select>
              </div>
            
              <div class="form-group col-md-3">
                <label for="remarks">Remarks</label>
                <textarea rows="4" type="text "  name='remarks' class="form-control" id="remarks"></textarea>
              </div>
              <div class="form-group col-md-3">
                <label for="skills">Skills</label>
                <textarea rows="4" class="form-control" name = 'skills' id="skills"></textarea>
              </div>
              <div class="mb-3 ol-md-3">
                <label for="resume" class="form-label">Upload Resume</label>
                <input class="form-control" type="file" accept=".pdf" id="resume" name = 'resume' required>
              </div>
            </div>
            
            
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                  I sincerely proclaim that all the facts in my resume are accurate, and I am responsible for their accuracy.
                </label>
              </div>
            </div>
            
            <button type="submit" class="btn bg-logo-color text-white">Submit</button>
          </form>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

  </main>

  {% endblock content %}
 

