{% extends "base.html" %}

{% block title %}
Career With Us
{% endblock title %}


{% block content %}
<div class="custom-section page-section text-center py-4">
    <div class="w-50 m-auto text-center py-3">
      <div class="subhead">We Want to Work With Good Employess</div>
      <h2 class="title-section">Career With Us</h2>
    </div>
  <div class="my-services page-section  d-flex flex-wrap mx-5 justify-content-center align-content-center">
 
    {% for i in records %}
    
    <div class="my-services-items m-xl-3 m-3 ">
      <div class="card" style="width: 18rem;">
        <!-- <img src="/static/img/services/services2.png" class="service-img card-img-top" alt="..."> -->
        <div class="card-body hover-shadow"  style='min-height:460px;'>
          <h5 class="card-title">{{i.job_title}}</h5>
          <h5 class="card-title">{{i.job_profile}}</h5>
            <div class='font-poppins'>
              <p class="card-text font-poppins">{{i.job_description |safe}}</p>
            </div>
          <ul class="card-text">
            <li>Experience Required - {{i.experience_required_in_years}} Years</li>
            <li>Location - {{i.city_location}}</li>
          </ul>
          <a class="btn btn-primary" href="{% url "apply_job" %}">Apply Now</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  </div>
{% endblock content %}