{% extends "base.html" %}
{% load static %}

{% block title %}
ClassIkart | Portals
{% endblock title %}


{% block content %}
<div class="page-section c-h-b  text-center m-1 py-5">
    {% for data in data %}
    
    <div class="page-section p-1">
        <h1 class="h1 title-section">
            {{data.title_of_this_page}}
        </h1>
    </div>
    {% endfor %}


    
<!-- Carousel Section Start  -->
<div class="page-section  p-3 d-flex align-content-center justify-content-center custom-bg-b">
  <div id="carouselExampleInterval" class="carousel slide  w-50 h-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img class="img-fluid" src="{% static "img/portfolio/classi35.png" %}" alt="First slide">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img class="img-fluid" src="{% static "img/portfolio/classi36.png" %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="{% static "img/portfolio/classi37.png" %}" alt="Third slide">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    {% comment %} <span class="visually-hidden">Previous</span> {% endcomment %}
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    {% comment %} <span class="visually-hidden">Next</span> {% endcomment %}
  </button>
  </div>
  <!-- Carousel Section End  -->
</div>
  
    <div class="container">
        {% comment %}
        Need To add Slide Show Crousel
        {% endcomment %}

        {% for data in  data%}
        <div class="page-section font-poppins">
            <p class="page-description">
               {{data.page_description | safe}}
            </p>
            <a href="https://{{data.website_domain_link}}" target="_blank">{{data.website_domain_link}}</a>
        </div>
        {% endfor %}
    </div>

    {% endblock content %}