{% extends "base.html" %}
{% load static %}

{% block title %}
ClassiKart | Portals
{% endblock title %}


<style>
  p{
    padding: 0px !important;
    margin: 0px !important;
  }
</style>

{% block content %}
<div class="page-section text-center container">
    {% for data in data %}
    
    <div class="page-section py-0">
        <h1 class="h1 title-custom  ">
            {{data.title_of_this_page}}
        </h1>
    </div>
    {% endfor %}
  
   
    
<!-- Carousel Section Start  -->
<div class="page-section d-flex align-content-center justify-content-center custom-bg-b">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img class="d-block slider-image-size " src="{% static "img/portfolio/chandigarh35.png" %}" alt="First slide" height="300px" width="600px">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img class="d-block slider-image-size " src="{% static "img/portfolio/chandigarh36.png" %}" alt="Second slide" height="300px" width="600px">
      </div>
      <div class="carousel-item">
        <img class="d-block slider-image-size" src="{% static "img/portfolio/chandigarh37.png" %}" alt="Third slide" height="300px" width="600px">
      </div>
    </div>
  </div>
<a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
</a>
<a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
</a>
</div>
  <!-- Carousel Section End  -->

</div>


   
    <div class="container">
        {% comment %}
        Need To add Slide Show Crousel
        {% endcomment %}

        {% for data in  data%}
        <div class="page-section font-poppins p-0 pb-4 text-justify">
            <p class="page-description p-0 m-0">
               {{data.page_description | safe}}
            </p>
            <a href="https://{{data.website_domain_link}}" target="_blank">{{data.website_domain_link}}</a>
        </div>
        {% endfor %}
    </div>

    {% endblock content %}