{% extends "base.html" %}

{% block title %}Mobile Application{% endblock title %}

{% block content %}
<div class="container pb-5 mx-auto  my-4"> 
    {% for display in data %}
    <div class="row">
        <div class="col-md-4 how-img m-auto">
            <img src="/static/img/services/software_development/mobile.jpg" class=" img-fluid" alt=""/>
        </div>
        <div class="col-md-8 px-5 py-2  "  >
            <h4 class="title-custom">{{display.heading}}</h4>
            <div class='font-poppins text-justify'>
                <p class="text-muted ">{{display.description | safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}