{% extends "base.html" %}
{% block title %}Gallery{% endblock title %}

{% block content %}
<style>
  .image-gallery {
      column-count: 3; /* Number of columns in the gallery */
  }

  .image-item {
      margin-bottom: 15px;
      break-inside: avoid; /* Prevent images from breaking across columns */
  }

  .image {
      width: 100%; /* Ensure images take the full width of the column */
  }
</style>


<div class="container ">
  <h1 class='text-center title-section m-auto py-4'>GALLERY  </h1>
  <div class="image-gallery m-3 d-block">
      <!-- Replace these image items with your dynamic content -->

      {% for image in images %}
      <div class="image-item ">
          <img class="image shadow-lg p-3 mb-5 bg-white rounded" src="{{ image.image.url }}" alt="{{ image.title }}">
      </div>
      {% endfor %}


  </div>
</div>

{% endblock content %}