{% extends "base.html" %}
{% load static %}


{% block title %}
Pisfot Informatics
{% endblock title %}


{% block content %}
<main>
  <div class="page-banner home-banner shadow">
    <div class="slider-wrapper">
      <div class="owl-carousel hero-carousel">
        <div class="hero-carousel-item">
          <img src="/static/img/bg_image_2.jpg" alt="">
          <div class="img-caption ">
            <h1 class="mb-4">We combine Design, Thinking, and Technical</h1>
            <a href="{% url "contact" %}" class="btn btn-outline-light">Get in Touch</a>
          
          </div>
        </div>
        <div class="hero-carousel-item">
          <img src="/static/img/bg_image_3.jpg" alt="">
          <div class="img-caption">
            <div class="subhead">We Offer Multiple Services</div>
            <h1 class="mb-4 h2">We Provide ERP Services, Web Services, Software Services, Career And Internship</h1>
            <a href="{% url "contact" %}" class="btn btn-primary">Contact Us</a>
          </div>
        </div>
      </div>
    </div> 
    <!-- .slider-wrapper -->
  </div>  

   


    <div class="page-section shadow shadow-lg m-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
            <!-- <div class="head">About Us</div>  -->
            <h2 class="title-section">Welcome to <span class="fg-primary">Pisoft Informatics Pvt. Ltd. </span> </h2>

            <p class="text-justify font-poppins">Pisoft Informatics India Pvt Ltd, previously known as Edlive Technologies is a rapidly growing Mohali based IT company, providing solutions into Software Development, Web Services, Web Hosting & Domain Registration,  ERP Solutions, Hardware & Networking and Design & Implementation. </p>
            <p class="text-justify font-poppins"> Our efficient and experienced team is a greatest resource with latest infrastructure that houses a team of young and competitive professionals having experience in providing dedicated and high end solutions to our clients. Our products and services are user friendly and built with a proactive approach to our client’s need with strong follow up and interaction with them during their project construction using a complete software development life cycle and dividing a channelized system with different phases like requirement gathering, analysis, designing, development, testing live, deployment and maintenance.</p>

            <a href="/about" class="btn btn-primary mt-4">Read More</a>
          </div>
          <div class="col-lg-6 py-3">
            <div class="about-img">
              <img src="/static/img/about.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .page-section -->

    <div class="page-section m-2">
      <div class="container technologies">
        <div class="text-center">
          <h2 class="title-section">Technologies</h2>
          <div class="subhead">We are a rapidly growing Chandigarh based IT company, providing solutions into Software Development, Hardware Networking, Design & Implementation. We work on following technologies: </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img  src="{% static "img/icons/wordpress.png" %}" alt="external-wordpress-most-associated-with-blogging-but-supports-other-types-of-web-content-logo-bold-tal-revivo"/>
              </div>
              <h5>Wordpress</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img  src="https://img.icons8.com/sf-black-filled/64/228BE6/sql.png" alt="sql"/>
              </div>
              <h5>MySQL</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="/static/img/icons/html5.svg"  alt="">
              </div>
              <h5>HTML5</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="/static/img/icons/css3.svg" alt="">
              </div>
              <h5>CSS3</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="/static/img/icons/javascript.png" alt="">
              </div>
              <h5>JavaScript</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="https://img.icons8.com/glyph-neue/48/228BE6/php.png" alt="php"/>
              </div>
              <h5>PHP</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="/static/img/icons/ui_ux_design.svg" alt="">
              </div>
              <h5>Graphics</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="64" height="64" src="https://img.icons8.com/glyph-neue/64/228BE6/xml.png" alt="xml"/>
              </div>
              <h5>XML</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="64" height="64" src="https://img.icons8.com/external-justicon-lineal-justicon/64/228BE6/external-seo-design-amp-thinking-process-justicon-lineal-justicon.png" alt="external-seo-design-amp-thinking-process-justicon-lineal-justicon"/>
              </div>
              <h5>SEO</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="https://img.icons8.com/color/48/domain--v1.png" alt="domain--v1"/>
              </div>
              <h5>WEB 2.0</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="{% static "img/icons/py.png" %}" alt=""/>
              </div>
              <h5>Python</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="{% static "img/icons/java.png" %}" alt=""/>
              </div>
              <h5>Java</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="{% static "img/icons/ai-ml.png" %}" alt=""/>
              </div>
              <h5>AI/ML</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="{% static "img/icons/android.png" %}" alt=""/>
              </div>
              <h5>Android</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img width="48" height="48" src="{% static "img/icons/digital-marketing.png" %}" alt=""/>
              </div>
              <h5>Digital Marketing</h5>
            </div>
          </div>

        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
    
  

    <div class="page-section p-2">
      <div class="container shadow-lg p-5">
        <div class="row align-items-center">
          <div class="col-md-6 py-3">
            <div class="subhead">Portfolio</div>
            <h2 class="title-section">Our Latest Projects</h2>
          </div>
          <div class="col-md-6 py-3 text-md-right">
            <a href="{% url "bossapp:portfolio" %}" class="btn btn-outline-primary">Browse Projects <span class="mai-arrow-forward ml-2"></span></a>
          </div>
        </div>

        <div class="row mt-3">

         
          {% for data in data %}
          <!-- New Image hover Link -->
           <div class="col-lg-4  custom-container py-3">
            <div class="portfolio">
              <a href="{{data.project_image.url}}" data-fancybox="portfolio">
                <img src="{{data.project_image.url}}" alt="{{data.project_name}}">
              </a>
              <div class="custom-overlay">
                <div class="custom-text p-1">
                  <a href="http://{{data.project_link}}" style="color: black; text-decoration: none;">Visit Now</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
  

        </div> <!-- .container -->
    </div> <!-- .page-section -->

   

    
<!-- Custom services -->
<div class="custom-section page-section text-center shadow-lg">
  <div class="w-50 m-auto text-center py-3">
    <div class="subhead">Services That we Offer you</div>
    <h2 class="title-section">Our Services</h2>
  </div>
<div class="my-services page-section  d-flex flex-wrap mx-5 justify-content-center align-content-center">
  <div class="my-services-items m-xl-3 m-3  ">
    <div class="card hover-shadow" style="width: 18rem;  height: 290px;">
      <img src="/static/img/services/services1.png" class="service-img card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text t09 text-justify font-poppins">We have designed, developed, deployed
           and maintained  enterprise-level web applications 
           from the ground up that have enhanced the bottom line.</p>
      
      </div>
    </div>
  </div>

  <div class="my-services-items m-xl-3 m-3 ">
    <div class="card hover-shadow" style="width: 18rem; height: 290px;">
      <img src="/static/img/services/services2.png" class="service-img card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ERP Solutions</h5>
        <p class="card-text t09 text-justify font-poppins">We offer low cost ERP solutions to our clients in Education, Real Estate, Automobile and Transportation, making their job easy and highly managed.</p>
        
      </div>
    </div>
  </div>
  <div class="my-services-items m-xl-3 m-3 ">
    <div class="card hover-shadow" style="width: 18rem; height: 290px;">
      <img src="/static/img/services/services3.png" class="service-img card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ERP Solutions</h5>
        <p class="card-text  t09 text-justify font-poppins">We offer low cost ERP solutions to our clients in Education, Real Estate, Automobile and Transportation, making their job easy and highly managed.</p>
        
      </div>
    </div>
  </div>
  <div class="my-services-items m-xl-3 m-3 ">
    <div class="card hover-shadow" style="width: 18rem; height: 290px;">
      <img src="/static/img/services/services4.png" class="service-img card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ERP Solutions</h5>
        <p class="card-text t09 text-justify font-poppins">We offer low cost ERP solutions to our clients in Education, Real Estate, Automobile and Transportation, making their job easy and highly managed.</p>
        
      </div>
    </div>
  </div>


  <div class="my-services-items m-xl-3 m-3 ">
    <div class="card hover-shadow" style="width: 18rem; height: 290px;">
      <img src="/static/img/services/services5.png" class="service-img card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Web Services</h5>
        <p class="card-text t09 text-justify font-poppins">We design, develop, host & maintain web sites. Here, gathering all the required information to develop, we design with the latest technology.</p>
        
      </div>
    </div>
  </div>


  <div class="my-services-items m-xl-3  m-3">
    <div class="card hover-shadow" style="width: 18rem; height: 290px;">
      <img src="/static/img/services/services6.png" class="service-img card-img-top"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Career</h5>
        <p class="card-text t09 text-justify font-poppins">We join hands with our interns to make them learn the best of the industrial knowledge and have an hands on experience over projects to gain the practical exposure.</p>
        
      </div>
    </div>
  </div>
</div>
</div>




</div>

      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section">
      <div class="container shadow-lg">
        <div class="text-center">
          <h2 class="title-section mb-3">Stay in touch</h2>
          <p class='font-poppins text-center'>Just say hello or drop us a line. You can manualy send us email on <a href="mailto:example@mail.com">example@mail.com</a></p>
        </div>
        {% if messages %}
        <ul class="messages" style='list-style:none;'>
        {% for message in messages %}
            <li  {% if message.tags %} role='alert' class="alert alert-success text-center {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
        <div class="row justify-content-center mt-5">
          <div class="col-lg-8">
            <form method='post' class="form-contact">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6 py-2">
                  <label for="name" class="fg-grey">Name</label>
                  <input type="text" class="form-control" name = 'name' id="name" placeholder="Enter name">
                </div>
                <div class="col-sm-6 py-2">
                  <label for="phone" class="fg-grey">Phone</label>
                  <input type="text" class="form-control" name = 'phone' id="phone" maxlength="10" placeholder="Phone Number">
                </div>
                <div class="col-sm-6 py-2">
                  <label for="email" class="fg-grey">Email</label>
                  <input type="email" class="form-control" name = 'email' id="email" placeholder="Email address">
                </div>
                <div class="col-12 py-2">
                  <label for="subject" class="fg-grey">Subject</label>
                  <input type="text" class="form-control" name = 'subject' id="subject" placeholder="Subject">
                </div>
                <div class="col-12 py-2">
                  <label for="message" class="fg-grey">Message</label>
                  <textarea id="message" rows="3" class="form-control" name='message' placeholder="Enter message"></textarea>
                </div>
                <div class="col-12 p-3">
                  <button type="submit" class="btn btn-primary px-5">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

     

  </main>
  {% endblock content %}
